<div class="row">
  <div class="col-md-6">
    <h3>{{ _('Spaces:') }}</h3>
    <div id="spaces-list-region"></div>
  </div>
  <div class="col-md-6">
    <h3>{{ _('Activity Stream:') }}</h3>
    <div id="activity-stream-region" class="activity-stream">  </div>
  </div>
</div>