<h1>Search results for: "<%= query %>" <button id="new-space" class="btn btn-default pull-right"><i class="fa fa-plus"></i> Add</button></h1>
<small>Found <span class="badge badge-info"><%= items.length %></span> results</small>