<div class="row">
    <div class="col-md-12">
        <div id="panel-region" class="page-header"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div id="sidebar-region"></div>
    </div>
    <div class="col-md-9">
        <div id="search-results-region"></div>
        <div id="pagination-region"></div>
    </div>
</div>