<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Predicate</th>
            <th>Permissions</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>