<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>{{ _('Who') }}</th>
            <th>{{ _('Permissions') }}</th>
            <th>{{ _('Delete') }}</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>