<section class="lead">
    <h3>
        ACL List
        <small class="pull-right">
            Found 
            <span class="badge badge-info"><%= items.length %></span> 
            ace
        </small>
    </h3>
</section>