<% if (isNew) { %>
<div class="form-group">
    <label for="name">{{ _('Name') }}</label>
    <input class="form-control" name="name" type="text" />
</div>
<% } %>
<div class="form-group">
    <label for="display_name">{{ _('Display Name') }}</label>
    <input class="form-control" name="display_name" type="text" />
</div>
<div class="form-group">
    <label for="description">{{ _('Description') }}</label>
    <input class="form-control" name="description" type="text" />
</div>