<h1>Spaces list <button id="new-space" class="btn btn-default pull-right"><i class="fa fa-plus"></i> Add</button></h1>
<small>Found <span class="badge badge-info"><%= items.length %></span> spaces</small>