<section class="lead">
    <button id="new-space" class="btn btn-default"><i class="fa fa-plus"></i> Add</button>
	<h3>
		Space list
		<small class="pull-right">
			Found 
			<span class="badge badge-info"><%= items.length %></span> 
			spaces
		</small>
	</h3>
</section>