<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Space</th>
            <th>Description</th>
            <th>URI</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>