<td><a href="#spaces/<%= name %>"><%= name %></a></td>
<td><%= display_name %></td>
<td><%= description %></td>
<td><%= uri %></td>
<td><i id="edit" class="fa fa-edit"></i> <i id="delete" class="fa fa-trash"></i></td>