<div class="pull-left"><i class="<%= icon %> fa-fw"></i></div>
<p>
  <a href="#users/<%= actor.name %>"><%= actor.name %></a> <%= action %> <a href="#documents/<%= target %>/<%= object.id %>"><%= object.display_name %></a><br />
    <small><time class="timeago" datetime="<%= published %>Z" data-toggle="tooltip" data-placement="bottom"><%= published %></time></small>
</p>