<small>{{ _('Created') }} <time class="timeago" datetime="<%= creation %>Z" data-toggle="tooltip" data-placement="bottom"><%= creation %></time>, {{ _('last update') }} <time class="timeago" datetime="<%= last_update %>Z" data-toggle="tooltip" data-placement="bottom"><%= last_update %></time> (v.<%= current_revision %>)</small>
</div>

<div class="document-content"><%= content %></div>

