<!-- extend base layout -->
{% extends "errors/base.html.jinja2" %}

{% block content %}
<h1>{{ _('Access denied') }}</h1>
<p>{{ error.description|default(_('You don\'t have permission to access to this ressource.')) }}</p>
{% endblock %}