<!-- extend base layout -->
{% extends "base.html.jinja2" %}

{% block content %}

<div id="documents">
    
</div>

{% endblock content %}

{%- block js -%}

  <!-- templates -->
  <script id="dashboardTemplate" type="text/template">
    <form id="addDocument" action="#">
      <div>
        <label for="title">Title: </label><input id="title" type="text" />
        <label for="author">Author: </label><input id="author" type="text" />
        <label for="content">Content: </label><input id="content" type="text" />
        <button id="add">Add</button>
      </div>
    </form>
    <div class="row">
      <div class="col-md-6">
        <h3>{{ _('Documents:') }}</h3>
        <ul id="documents-list">
        </ul>
      </div>
      <div class="col-md-6">
        <h3>{{ _('Activity Stream:') }}</h3>
        <div id="activity-stream" class="activity-stream">  
        </div>
      </div>
    </div>
  </script>

  <script id="documentListTemplate" type="text/template">
  </script>

  <script id="documentListItemTemplate" type="text/template">
    <a href="#document/<%= space %>/view/<%= id %>"><%= title %></a><br /><small><time class="timeago" datetime="<%= last_update %>Z" data-toggle="tooltip" data-placement="bottom"><%= last_update %></time> by <%= author.name %></small>
  </script>

  <script id="documentTemplate" type="text/template">

    <div class="page-header">
    <h1><a href="#document/<%= space %>/view/<%= id %>"><%= title %></a></h1>
    <small>{{ _('Created') }} <time class="timeago" datetime="<%= creation %>Z" data-toggle="tooltip" data-placement="bottom"><%= creation %></time>, {{ _('last update') }} <time class="timeago" datetime="<%= last_update %>Z" data-toggle="tooltip" data-placement="bottom"><%= last_update %></time> (v.<%= current_revision %>)</small>
    </div>

    <div><%= content %></div>
    <div id="document-tag-list" class="tag-list"></div>

    <ul class="nav nav-tabs">
      <li class="active"><a href="#comments" data-toggle="tab">{{ _('Comments') }}</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="comments">
        </div>
    </div>

  </script>

  <script id="commentTemplate" type="text/template">
    <footer><a href="#user/<%= author.name %>"><%= author.display_name %></a> <time class="timeago" datetime="<%= date %>Z" data-toggle="tooltip" data-placement="bottom"><%= date %></time></footer>
    <p><%= content %></p>
  </script>

  <script id="activityStreamTemplate" type="text/template">
  </script>

  <script id="activityStreamItemTemplate" type="text/template">
    <div class="pull-left"><i class="<%= icon %> fa-fw"></i></div>
    <p>
      <a href="#user/<%= actor.name %>"><%= actor.name %></a> <%= action %> <a href="#document/<%= target %>/view/<%= object.id %>"><%= object.display_name %></a><br />
        <small><time class="timeago" datetime="<%= published %>Z" data-toggle="tooltip" data-placement="bottom"><%= published %></time></small>
    </p>
  </script>

  <script id="userTemplate" type="text/template">
    <table>
        <tr valign="top">
            <td>
                <h1>{{ _('User:') }} <%= name %></h1>
            </td>
        </tr>
    </table>
    <hr>
  </script>


  <!-- backbones.js -->
  <script type="text/javascript" src="static/js/utils.js"></script>
  <script type="text/javascript" src="static/js/models/user.js"></script>
  <script type="text/javascript" src="static/js/models/comment.js"></script>
  <script type="text/javascript" src="static/js/models/document.js"></script>
  <script type="text/javascript" src="static/js/models/activity.js"></script>
  <script type="text/javascript" src="static/js/collections/documents.js"></script>
  <script type="text/javascript" src="static/js/collections/comments.js"></script>
  <script type="text/javascript" src="static/js/collections/activity.js"></script>
  <script type="text/javascript" src="static/js/views/dashboard.js"></script>
  <script type="text/javascript" src="static/js/views/document.list.js"></script>
  <script type="text/javascript" src="static/js/views/document.js"></script>
  <script type="text/javascript" src="static/js/views/comment.js"></script>
  <script type="text/javascript" src="static/js/views/activity.stream.js"></script>
  <script type="text/javascript" src="static/js/views/user.js"></script>
  <script type="text/javascript" src="static/js/app.js"></script>
{%- endblock js -%}

</body>
</html>

