<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ page_title|default(_('Project')) }}{% endblock %} - Gasoline</title>
    {% assets "css_all" %}<link href="{{ ASSET_URL }}" rel="stylesheet" media="screen">{% endassets %}
    <meta name="description" content="Gasoline, collaborative wiki">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    {% block topbar %}
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">{{ _('Toggle navigation') }}</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Gasoline</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li{% if request.path in "/" "/index" %} class="active"{% endif %}>
            <a href="{{ url_for('frontend.index') }}">{{ _('Dashboard') }}</a>
          </li>
        {% if current_user.is_authenticated() %}
          <li{% if request.path.startswith("/user") %} class="active"{% endif %}>
            <a href="{{ url_for('user.profile', name=current_user.name) }}">{{ _('My account') }}</a>
          </li>
          <li{% if request.path == "/logout" %} class="active"{% endif %}>
            <a href="{{ url_for('user.logout') }}">{{ _('Logout') }}</a>
          </li>
        {% endif %}
        </ul>
      {% if current_user.is_authenticated() %}
      {% cache 60*5 %}
        <form class="navbar-form navbar-right" role="search" action="{{url_for('frontend.search')}}" method="get" name="search">
          <div class="form-group">
            {{ g.search_form.query(class='form-control', placeholder=g.search_form.query.description)|safe }}
          </div>
          <button type="button" value="{{ _('Search') }}" class="btn btn-default"><i class="fa fa-search fa-fw"></i></button>
        </form>
      {% endcache %}
      {% endif %}
      </div><!-- /.navbar-collapse -->
    </nav>
    {% endblock %}

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

{% cache 60*5 %}
    {% assets "js_all" %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
{% endcache %}
  </body>
</html>