<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h3>{{ _('Documents:') }}</h3>
        <ul>
        {% for doc in docs %}
        	<li><a href="{{ url_for('document.view', space=space, doc_id=doc.id) }}">{{ doc.title }}</a><br /><small><time datetime="{{ doc.last_update }}Z">{{ doc.last_update | date }}</time> by Someone</small></li>
        {% endfor %}
        </ul>
    </div>
    <div class="col-md-6">
        <div class="activity-stream">
            <h3>{{ _('Activity Stream:') }}</h3>
            {% for event in activity %}
            <div>
                <div class="pull-left"><i class="{{ event.icon }} fa-fw"></i></div>
                <p>
                    <a href="{{ url_for('user.profile', name=event.actor.name) }}">{{ event.actor.name }}</a> {{ event.action }}  <a href="{{ event.object.url }}">{{ event.object.display_name }}</a><br />
                    <small><time class="timeago" datetime="{{ event.published }}Z" data-toggle="tooltip" data-placement="bottom">{{ event.published | datetime }}</time></small>
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}