<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<p><a href="{{ url_for('document.edit', space=space) }}" class="btn btn-default">{{ _('Create') }}</a></p>

<div class="row">
    <div class="col-md-6">
        <h3>Activity Stream:</h3>
        <ul>
        {% for event in activity %}
            <li><i class="{{ event.icon }}"></i> <a href="{{ url_for('user.profile', name=event.user.name) }}">{{ event.user.name }}</a> {{ event.action_localized }} <a href="{{ url_for('document.view', space=event.document.space, doc_id=event.document.id) }}">{{ event.document.title }}</a> on  {{ event.date | datetime }}</li>
        {% endfor %}
        </ul>
    </div>
    <div class="col-md-6">
        <h3>Documents:</h3>
        <ul>
        {% for doc in docs %}
        	<li><a href="{{ url_for('document.view', space=space, doc_id=doc.id) }}">{{ doc.title }}</a> ({{ doc.current_revision }}) - {{ doc.id }}</li>
        {% endfor %}
        </ul>
        {% endblock %}
    </div>
</div>