{%- extends "base.html" -%}
{% block content -%}
{% if doc.id %}<div class="pull-right btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-cog"></i> {{ _('Tools') }} <i class="fa fa-caret-down"></i>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="{{ url_for('document.edit', space=space, doc_id=doc.id) }}">{{ _('Edit') }}</a></li>
        <li><a href="{{ url_for('document.history', space=space, doc_id=doc.id) }}">{{ _('History') }}</a></li>
        <li><a href="{{ url_for('document.attachments', space=space, doc_id=doc.id) }}">{{ _('Attachments') }} ({{ doc.attachments|length }})</a></li>
        <li><a href="#">{{ _('Rights') }}</a></li>
        <li class="divider"></li>
        <li><a href="#">{{ _('Links') }}</a></li>
        <li><a href="#">{{ _('Informations') }}</a></li>
    </ul>
</div>
{% if request.endpoint != 'document.view' %}
<div class="pull-right">
<a href="{{ url_for('document.view', space=space, doc_id=doc.id) }}" class="btn btn-default">
    <i class="fa fa-reply"></i> {{ _('View Document') }}
</a>&nbsp;
</div>
{% endif %}
{% endif %}
<div>Breadcrumb</div>
<div>
{% block document_header %}{% endblock document_header %}
{% block document_content %}{% endblock document_content %}
{% block document_footer %}{% endblock document_footer %}
</div>
{%- endblock content %}