{%- extends "document.html" -%}
{% block document_content -%}
<div class="page-header">
<h1>{{ _('History') }}</h1>
</div>
<table class="table table-hover">
    <thead>
    <tr>
        <th>{{ _('Version') }}</th>
        <th>{{ _('Date') }}</th>
        <th>{{ _('Author') }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><a href="{{ url_for('document.view', space=space, doc_id=doc.id) }}">{{ _('CURRENT') }}</a> (v. {{ doc.current_revision }})</td>
        <td><time datetime="{{ doc.last_update }}Z">{{ doc.last_update | datetime }}</time></td>
        <td><a href="{{ url_for('user.profile', name=doc.last_author.id) }}">{{ doc.last_author.display_name }}</a></td>
    </tr>
    {% for revision in history.reverse_revisions -%}
    <tr>
        <td><a href="{{ url_for('document.revision', space=space, doc_id=doc.id, revision=revision.number) }}">v. {{ revision.number }}</a></td>
        <td><time datetime="{{ revision.date }}Z">{{ revision.date | datetime }}</time></td>
        <td><a href="{{ url_for('user.profile', name=revision.author.id) }}">{{ revision.author.display_name }}</a></td>
    </tr>
    {%- endfor %}
    </tbody>
</table>
{%- endblock document_content %}