{%- extends "document.html.jinja2" -%}
{%- block document_header -%}
<div class="page-header">
<h1><a href="{{ url_for('document.view', space=space, doc_id=doc.id) }}">{{ doc.title }}</a></h1>
<small>{{ _('Created') }} <time class="timeago" datetime="{{ doc.creation }}Z" data-toggle="tooltip" data-placement="bottom">{{ doc.creation | datetime }}</time>, {{ _('last update') }} <time class="timeago" datetime="{{ doc.last_update }}Z" data-toggle="tooltip" data-placement="bottom">{{ doc.last_update | datetime }}</time> (v.{{ doc.current_revision }})</small>
</div>

{% if request.endpoint != 'document.view' %}
<div class="alert alert-warning"><i class="fa fa-warning fa-lg"></i> {{ _('Old version. View') }} <a href="{{ url_for('document.view', space=space, doc_id=doc.id) }}">{{ _('current version') }}</a>.</div>
{% endif %}
{%- endblock document_header %}

{%- block document_content -%}
<div>{{ doc.content_html|safe }}</div>
{%- endblock document_content %}

{%- block document_footer -%}
<div id="document-tag-list" class="tag-list"></div>

<ul class="nav nav-tabs">
  <li class="active"><a href="#comments" data-toggle="tab">{{ _('Comments') }}</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="comments">
        {%- for comment in doc.comments recursive -%}
        <blockquote>
          <footer><a href="{{ url_for('user.profile', name=doc.comments[comment].author.id) }}">{{ doc.comments[comment].author.id }}</a> <time class="timeago" datetime="{{ doc.comments[comment].date }}Z" data-toggle="tooltip" data-placement="bottom">{{ doc.comments[comment].date | datetime }}</time></footer>
          <p>{{ doc.comments[comment].content }}</p>
        </blockquote>
            {%- if comment.reply -%}
                <ul>{{ loop(comment.reply) }}</ul>
            {%- endif -%}
        {%- endfor -%}
        {% from "macros.html.jinja2" import render_bootstrap_field %}
        <form class="form-horizontal" role="form" action="" method="post" name="login">
            {{comment_form.hidden_tag()}}
            {% if comment_form.csrf_token.errors %}
                {% for error in comment_form.csrf_token.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            {% endif %}
            {{ render_bootstrap_field(comment_form.content) }}
            <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-default">{{ _('Comment') }}</button>
            </div>
            </div>
        </form>
    </div>
</div>
{%- endblock document_footer %}
{%- block js -%}
<script>
    $(function() {
        $('#document-tag-list').tags({
            tagData: {{doc.tags|tojson|safe}},
            beforeAddingTag: function(tag){ returncode = true; 
                $.ajax({
                    type: "GET",
                    url: "/document/{{ space }}/add/tag/{{ doc_id }}/"+tag,
                    cache: false,
                    async: false,
                    success: function(data) {
                        returncode = true;
                    },
                    error: function(data) {
                        returncode = false;
                    }
                });
                return returncode;
            },
            beforeDeletingTag: function(tag){ returncode = true; 
                $.ajax({
                    type: "GET",
                    url: "/document/{{ space }}/remove/tag/{{ doc_id }}/"+tag,
                    cache: false,
                    async: false,
                    success: function(data) {
                        returncode = true;
                    },
                    error: function(data) {
                        returncode = false;
                    }
                });
                return returncode;
            }
        });
    });
</script>
{%- endblock -%}
