<!-- extend base layout -->
{% extends "base.html.jinja2" %}

{% block content %}

<div id="content">
    
</div>

{% endblock content %}

{%- block js -%}

  <!-- templates -->
  <script id="dashboardTemplate" type="text/template">
    <form id="add-document" action="#!/">
      <div>
        <label for="title">Title: </label><input id="title" type="text" />
        <label for="author">Author: </label><input id="author" type="text" />
        <label for="content">Content: </label><input id="content" type="text" />
        <button id="add">Add</button>
      </div>
    </form>
    <div class="row">
      <div class="col-md-6">
        <h3>{{ _('Documents:') }}</h3>
        <ul id="documents-list">
        </ul>
      </div>
      <div class="col-md-6">
        <h3>{{ _('Activity Stream:') }}</h3>
        <div id="activity-stream" class="activity-stream">  
        </div>
      </div>
    </div>
  </script>

  <script id="documentListTemplate" type="text/template">
  </script>

  <script id="documentListItemTemplate" type="text/template">
    <a href="/frontend/document/display/<%= space %>/<%= id %>"><%= title %></a><br /><small><time class="timeago" datetime="<%= last_update %>Z" data-toggle="tooltip" data-placement="bottom"><%= last_update %></time> by <%= author.name %></small>
  </script>

  <script id="documentTemplate" type="text/template">
    <div id="tools-dropdown" class="pull-right btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-cog"></i> {{ _('Tools') }} <i class="fa fa-caret-down"></i>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a id="document-edit-link">{{ _('Edit') }}</a></li>
            <li><a id="document-history-link">{{ _('History') }}</a></li>
            <li><a id="document-attachments-link">{{ _('Attachments') }} ({ doc.attachments|length }})</a></li>
            <li><a id="document-rights-link">{{ _('Rights') }}</a></li>
            <li class="divider"></li>
            <li><a id="document-links-link">{{ _('Links') }}</a></li>
            <li><a id="document-informations-link">{{ _('Informations') }}</a></li>
        </ul>
    </div>
    <% if (mode != 'display') { %>
      <div class="pull-right">
        <a id="document-display-link" class="btn btn-default"><i class="fa fa-reply"></i> {{ _('View Document') }}</a>&nbsp;
      </div>
    <% } %>
    <div id="document"></div>
  </script>

  <script id="displayDocumentTemplate" type="text/template">
    <div class="page-header">
      <h1><a href="/frontend/document/display/<%= space %>/<%= id %>"><%= title %></a></h1>
    </div>
    <small>{{ _('Created') }} <time class="timeago" datetime="<%= creation %>Z" data-toggle="tooltip" data-placement="bottom"><%= creation %></time>, {{ _('last update') }} <time class="timeago" datetime="<%= last_update %>Z" data-toggle="tooltip" data-placement="bottom"><%= last_update %></time> (v.<%= current_revision %>)</small>
    </div>

    <div class="document-content"><%= content %></div>

    <div id="document-tag-list" class="tag-list">
      <div class="tag-list-items">
        <span>{{ _('Tags: ') }}</span>
      </div>
      <div class="tag-list-actions">
        <form id="document-tag-add-form" class="form-horizontal" role="form" action="" method="post" name="comment-edit">
          <input class="form-control" id="document-tag-add-form-tag" name="tag" placeholder="{{ _('Add a tag') }}" type="text" value="" />
        </form>
      </div>
    </div>

    <div id="comments" class="comment-timeline">
      <div class="comment-timeline-items"></div>
      <div class="comment-timeline-actions"></div>
    </div>
  </script>

  <script id="editDocumentTemplate" type="text/template">
    <div class="page-header">
      <h1><a href="/frontend/document/display/<%= space %>/<%= id %>"><%= title %></a></h1>
    </div>
    <form id="document-edit-form" class="form-horizontal" role="form" action="" method="" name="edit_document">
      <div class="form-group">
        <label class="col-sm-2 control-label">{{ _('Title') }}</label>
        <div class="col-sm-8">
          <input class="form-control" id="document-edit-form-title" name="title" placeholder="{{ _('Title') }}" type="text" value="<%= title %>" />
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="">{{ _('Content') }}</label>
        <div class="col-sm-8 control">
          <textarea class="form-control" id="document-edit-form-content" name="content" rows="20"><%= content %></textarea>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
          <button id="document-edit-form-save" type="button" class="btn btn-default">{{ _('Submit') }}</button>
        </div>
      </div>
    </form>

  </script>

  <script id="commentTemplate" type="text/template">
    <a href="/frontend/user/<%= author.name %>"><img class="comment-avatar" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png"></a>
    <div class="comment-inner">
      <div class="comment-header">
        <a href="/frontend/user/<%= author.name %>"><%= author.display_name %></a> {{ _('commented') }} <time class="timeago" datetime="<%= date %>Z" data-toggle="tooltip" data-placement="bottom"><%= date %></time>
        <% if (app.currentUser.get('name') == this.model.get('author').name) { %><i id="comment-edit" class="fa fa-edit"></i><i id="comment-delete" class="fa fa-times"></i><% } %>
      </div>
      <div class="comment-content"><%= content %></div>
    </div>
  </script>

  <script id="commentEditTemplate" type="text/template">
    <a href="/frontend/user/<%= author.name %>"><img class="comment-avatar" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png"></a>
    <div class="comment-inner">
      <div class="comment-header">{{ _('Edit comment') }}</div>
      <div class="comment-content">
        <form id="comment-edit-form" class="form-horizontal" role="form" action="" method="post" name="comment-edit">
          <div class="comment-form">
            <div>
              <textarea class="form-control" id="comment-edit-form-content" name="content" rows="5"><%= content %></textarea>
            </div>
            <div class="comment-form-action">
              <button id="comment-edit-form-save" type="button" class="btn btn-default">{{ _('Comment') }}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </script>

  <script id="commentFormTemplate" type="text/template">
    <div class="comment-item">
      <a href="/frontend/user/<%= author.name %>"><img class="comment-avatar" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png"></a>
      <div class="comment-inner">
        <div class="comment-header">{{ _('Add a comment') }}</div>
        <div class="comment-content">
          <form id="comment-add-form" class="form-horizontal" role="form" action="" method="post" name="comment-add">
            <div class="comment-form">
              <div>
                <textarea class="form-control" id="comment-add-form-content" name="content" rows="5"></textarea>
              </div>
              <div class="comment-form-action">
                <button id="comment-add-form-add" type="button" class="btn btn-default">{{ _('Comment') }}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </script>

  <script id="activityStreamTemplate" type="text/template">
  </script>

  <script id="activityStreamItemTemplate" type="text/template">
    <div class="pull-left"><i class="<%= icon %> fa-fw"></i></div>
    <p>
      <a href="/frontend/user/<%= actor.name %>"><%= actor.name %></a> <%= action %> <a href="/frontend/document/display/<%= target %>/<%= object.id %>"><%= object.display_name %></a><br />
        <small><time class="timeago" datetime="<%= published %>Z" data-toggle="tooltip" data-placement="bottom"><%= published %></time></small>
    </p>
  </script>

  <script id="userTemplate" type="text/template">
    <table>
        <tr valign="top">
            <td>
                <h1>{{ _('User:') }} <%= name %></h1>
            </td>
        </tr>
    </table>
    <hr>
  </script>


  <script type="text/javascript">
    var app = app || {};
    app.currentUser = { 
      name: "{{ current_user.name }}",
      display_name: "{{ current_user.display_name }}",
      id: "{{ current_user.name }}",
    };
    console.log(app.currentUser);
  </script>

  <!-- backbones.js -->
  <script type="text/javascript" src="/static/js/utils.js"></script>
  <script type="text/javascript" src="/static/js/models/user.js"></script>
  <script type="text/javascript" src="/static/js/models/comment.js"></script>
  <script type="text/javascript" src="/static/js/models/document.js"></script>
  <script type="text/javascript" src="/static/js/models/tag.js"></script>
  <script type="text/javascript" src="/static/js/models/activity.js"></script>
  <script type="text/javascript" src="/static/js/collections/documents.js"></script>
  <script type="text/javascript" src="/static/js/collections/comments.js"></script>
  <script type="text/javascript" src="/static/js/collections/tags.js"></script>
  <script type="text/javascript" src="/static/js/collections/activity.js"></script>
  <script type="text/javascript" src="/static/js/views/dashboard.js"></script>
  <script type="text/javascript" src="/static/js/views/document.list.js"></script>
  <script type="text/javascript" src="/static/js/views/document.js"></script>
  <script type="text/javascript" src="/static/js/views/comment.js"></script>
  <script type="text/javascript" src="/static/js/views/tag.js"></script>
  <script type="text/javascript" src="/static/js/views/activity.stream.js"></script>
  <script type="text/javascript" src="/static/js/views/user.js"></script>
  <script type="text/javascript" src="/static/js/app.js"></script>
{%- endblock js -%}

</body>
</html>

