<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ page_title|default(_('Project')) }}{% endblock %} - Gasoline</title>
    {% assets "css" %}<link href="{{ ASSET_URL }}" rel="stylesheet" media="screen">{% endassets %}
    <meta name="description" content="Gasoline, collaborative wiki">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <div id="header-region"></div>
    <div id="main-region"></div>
    <div id="footer-region"></div>
    <div id="dialog-region" tabindex="-1" role="dialog" aria-labelledby="Dialog" aria-hidden="true"></div>

    {% assets "js" %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
    {% assets "js-"+g.locale.language %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
    {% assets "jst-"+g.locale.language %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}

    <script type="text/javascript">
        $(function() {
          Gasoline.currentUser = new Gasoline.Entities.User({ 
            name: "{{ current_user.name }}",
            display_name: "{{ current_user.display_name }}",
            id: "{{ current_user.name }}",
          });

          Gasoline.start();
        });
      </script>
  </body>
</html>