{% macro render_bootstrap_field(field) %}
<div class="form-group {% if field.errors %} error {% endif %}">
  {% if field.type != "BooleanField" %}
    <label class="col-sm-2 control-label">{{ field.label }}</label>
    <div class="col-sm-8">
        {{ field(class='form-control', placeholder=field.description)|safe }}
        {% if field.errors %}
            {% for error in field.errors %}
                <span class="label label-danger">[{{ error }}]</span><br>
            {% endfor %}
        {% endif %}
    </div>
  {% else %}
    <div class="col-sm-offset-2 col-sm-10">
        <label>{{ field()|safe }} {{ field.label }}</label>
        {% if field.errors %}
            {% for error in field.errors %}
                <span class="label label-danger">[{{ error }}]</span><br>
            {% endfor %}
        {% endif %}
    </div>
  {% endif %}
</div>
{% endmacro %}