<!-- extend base layout -->
{% extends "base.html.jinja2" %}

{% block content %}

<div id="header-region"></div>
<div id="main-region"></div>
<div id="footer-region"></div>

{% endblock content %}

{%- block js -%}

  <!-- templates -->
  <script id="dashboardTemplate" type="text/template">
    <form id="add-document" action="#!/">
      <div>
        <label for="title">Title: </label><input id="title" type="text" />
        <label for="author">Author: </label><input id="author" type="text" />
        <label for="content">Content: </label><input id="content" type="text" />
        <button id="add">Add</button>
      </div>
    </form>
    <div class="row">
      <div class="col-md-6">
        <h3>{{ _('Documents:') }}</h3>
        <ul id="documents-list">
        </ul>
      </div>
      <div class="col-md-6">
        <h3>{{ _('Activity Stream:') }}</h3>
        <div id="activity-stream" class="activity-stream">  
        </div>
      </div>
    </div>
  </script>

  <script id="activityStreamTemplate" type="text/template">
  </script>

  <script id="activityStreamItemTemplate" type="text/template">
    <div class="pull-left"><i class="<%= icon %> fa-fw"></i></div>
    <p>
      <a href="/frontend/user/<%= actor.name %>"><%= actor.name %></a> <%= action %> <a href="/frontend/document/display/<%= target %>/<%= object.id %>"><%= object.display_name %></a><br />
        <small><time class="timeago" datetime="<%= published %>Z" data-toggle="tooltip" data-placement="bottom"><%= published %></time></small>
    </p>
  </script>


  <script type="text/javascript">
    var app = app || {};
    app.currentUser = { 
      name: "{{ current_user.name }}",
      display_name: "{{ current_user.display_name }}",
      id: "{{ current_user.name }}",
    };
    console.log(app.currentUser);
  </script>

  <!-- backbones.js -->

  <script type="text/javascript">
    $(function() {
      Gasoline.start();
    });
  </script>
{% assets "jst-"+g.locale.language %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
{%- endblock js -%}

</body>
</html>
