<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% from "macros.html" import render_bootstrap_field %}
<form class="form-horizontal" role="form" action="" method="post" name="edit_document">
	{{form.hidden_tag()}}
	{% if form.csrf_token.errors %}
		{% for error in form.csrf_token.errors %}
    		<div class="alert alert-danger">{{ error }}</div>
		{% endfor %}
	{% endif %}

	{{ render_bootstrap_field(form.title) }}
	<div class="form-group{% if form.content.errors %} error{% endif %}">
	    <label class="col-sm-2 control-label" 
	        for="{{ form.content.id }}">
	        {{ form.content.label }}
	    </label>
	    <div class="col-sm-8 controls">
	        {{ form.content(class="form-control", rows="20") }}
	        <span class="help-inline">{{ form.content.description }}</span>
	        {% if form.content.errors -%}
	            {% for error in form.content.errors -%}
	            <span class="help-block error">{{ error }}</span>
	            {%- endfor %}
	        {%- endif %}
	    </div>
	</div>

	<div class="form-group">
	<div class="col-sm-offset-2 col-sm-4">
		<button type="submit" class="btn btn-default">{{ _('Submit') }}</button>
	</div>
	</div>
</form>
{% endblock %}