<form class="navbar-form navbar-left form-inline" role="search" action="url_for('search.search')}}" method="get" name="search">
    <div class="form-group has-feedback dropdown" id="search_input">
        <input autocomplete="off" class="form-control input-sm" id="search_query" name="query" placeholder="Rechercher" style="width: 180px" type="text" value="">
        <i id="search_button" class="fa fa-search fa-fw form-control-feedback"></i>
        <ul id="search_results" class="dropdown-menu"></ul>
    </div>
</form>