<input class="form-control" id="document-tag-add-form-tag" name="tag" placeholder="{{ _('Add a tag') }}" type="text" value="" />
<button id="document-tag-add-form-save" type="submit" class="btn btn-default hidden">&nbsp;</button>
