<form role="form">
    <div class="form-group">
        <label class="control-label">{{ _('Link') }}</label>
        <input class="form-control" name="link" type="text" readonly>
    </div>
    <div class="form-group">
        <label class="control-label" for="">{{ _('Tiny link') }}</label>
        <input class="form-control" name="tinylink" type="text" readonly>
    </div>
</form>