<div class="form-group">
    <label class="control-label">{{ _('Title') }}</label>
    <input class="form-control" id="document-edit-form-title" name="title" placeholder="{{ _('Title') }}" type="text" value="" />
</div>
<div class="form-group">
    <label class="control-label" for="">{{ _('Content') }}</label>
    <textarea class="form-control" id="document-edit-form-content" name="content" rows="20"></textarea>
</div>