<td><a href="#documents/<%= space %>/<%= id %>"><%= title %></a></td>
<td><time class="timeago" datetime="<%= last_update %>Z" data-toggle="tooltip" data-placement="bottom"><%= last_update %></time> by <%= author.name %></td>
<td><%= uri %></td>
<td><a href="#documents/<%= space %>/<%= id %>/edit">Edit</a></td>