<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Last Update</th>
            <th>URI</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>