<h1>Users List <button id="new-user" class="btn btn-default pull-right"><i class="fa fa-plus"></i> Add</button></h1>
<small>Found <span class="badge badge-info"><%= items.length %></span> users</small>