<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Name</th>
			<th>Display Name</th>
            <th>Description</th>
            <th>URI</th>
            <th></th>
		</tr>
	</thead>
	<tbody></tbody>
</table>