<% if (buttons) { %>
  <% _.each(buttons, function(button) { %>
    <button type="<%= button.buttonType %>" data-form-button="<%= button.type %>" class="<%= button.className %>"><%= button.text %></button>
  <% } ); %>
<% } %>