.document-content {
    border-bottom: 1px solid #eee;
}


/* TAG LIST */

.document-tag-list .document-tag-list-items span {
    margin: 1px;
}

.document-tag-list-items, .document-tag-list-actions {
    display: inline-block;
}
