#header-searchbox {

    input {
        background-color: $navbar-default-bg;
        border-color: $navbar-default-bg;
        width: 0px;
        box-shadow: none;
        padding-right: 22.5px;

        @include transition(background ease-in-out .5s, width ease-in-out .5s);

        &:focus {
            background-color: $white;
            width: 200px;
        }
    }

    i {
        font-size: 22px;
        color: $white;
        @include opacity(1);
        @include transition(color ease-in-out .5s, opacity linear .5s .5s);

        position: absolute;
        top: 0;
        right: 0;
        z-index: 2; // Ensure icon is above input groups
        width: $input-height-base;
        height: $input-height-base;
        line-height: $input-height-base;
        text-align: center;
        pointer-events: none;
    }

    i.fade {
        @include opacity(0);
    }

    &.focus i {
        color: $gray;
    }

    ul.search-results {
        @include transition(all ease-in-out .5s);
        min-width: 200px;      
    }

}